package views

import (
	. "cool.com/test/services"
)

templ Catalogue(products []Product) {
	<div class="catalogue">
		for _, product := range products {
			<div class="product">
				<img src={ product.Images.Front } alt={ product.Name }/>
			</div>
		}
	</div>
}
