html {
    min-height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    color: #fff;
    background-color: #000;
}

.bg {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg>* {
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-repeat: no-repeat; */
    background-repeat: repeat-x;
    background-attachment: fixed;
}

.bg .eye {
    background-image: url("/static/img/bg.svg");
    /* background-position: left 2rem center; */
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo {
    display: flex;
    align-self: center;
    padding: 2em;
}

.catalogue {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 80%;
    height: 100%;
    margin-bottom: 4rem;
    /* border: 10px #8fecf3 solid; */
    border: 10px #763e3a solid;
    background-color: #a4a4a40f;
    /* filter: invert(80%); */
    box-shadow: 1px 1px 15px 1px #0000005c;
}

.catalogue > * {
    /* filter: invert(0%) !important; */
}

.product {
    display: flex;
    justify-content: center;
    padding: 0;
    /* height: 50em; */
    padding: 4em;
}

.product>img {
    max-width: 100%;
    object-fit: cover;
    filter: drop-shadow(0px 0px 20px #18211c69);
}
