body {
    color: #fff;
    background-color: #000;
    /* background-image: url("/static/img/eye.svg"); */
    /* background-repeat: repeat; */
}

.bg {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.bg .eye {
    height: 100%;
    width: 100%;
    background-image: url("/static/img/eye.svg");
    background-repeat: repeat;
}

.bg .semi {
    height: 100%;
    width: 100%;
    background-image: url("/static/img/semicircle.svg");
    background-repeat: repeat;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo {
    display: flex;
    align-self: center;
    padding: 2em;
}

.catalogue {
    display: flex;
    flex-direction: column;
    align-self: center;
    /* align-items: center; */
    width: 80%;
    height: 100%;
    border: 10px #8fecf3 solid;
}

.product {
    display: flex;
    justify-content: center;
    padding: 0;
    /* height: 50em; */
    padding: 4em;
}

.product>img {
    max-width: 100%;
    object-fit: cover;
}
